<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Blogs</h1>
    {{#each blogs as |blog|}}
        <div>{{blogs.title}}</div>
        <img src={{blog.file}} alt="">
    {{/each}}
</body>
</html>